.login-page-container {
    background-image: url("https://res.cloudinary.com/srinivasvasamsetti/image/upload/v1733821036/tb2xktj7ivpsml8a0ofy.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.login-page-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    height: 260px;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.login-page-card-details {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.login-page-card-logo-and-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 0px;
}

.login-vibe-logo-img {
    width: 46px;
    height: 34px;
}

.login-vibesnap-heading {
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    line-height: 32px;
}

.login-page-card-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    line-height: 18px;
    margin-top: 0px;
}

.login-page-card-button {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #292929;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 14px 24px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login-page-google-logo-img {
    width: 18px;
}

.login-question-tag {
    font-size: 14px;
    font-weight: 400;
    color: #262626;
    margin-top: 30px;
}

.login-span {
    color: #254ed7;
    padding-left: 8px;
    cursor: pointer;
}